//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/100/thin/panton-thin-webfont.eot');
//  src: url('/assets/webfonts/100/thin/panton-thin-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/100/thin/panton-thin-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/100/thin/panton-thin-webfont.woff') format('woff'),
//  url('/assets/webfonts/100/thin/panton-thin-webfont.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/100/thin-italic/panton-thinitalic-webfont.eot');
//  src: url('/assets/webfonts/100/thin-italic/panton-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/100/thin-italic/panton-thinitalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/100/thin-italic/panton-thinitalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/100/thin-italic/panton-thinitalic-webfont.ttf') format('truetype');
//  font-weight: 100;
//  font-style: italic;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/200/extra-light/panton-extralight-webfont.eot');
//  src: url('/assets/webfonts/200/extra-light/panton-extralight-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/200/extra-light/panton-extralight-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/200/extra-light/panton-extralight-webfont.woff') format('woff'),
//  url('/assets/webfonts/200/extra-light/panton-extralight-webfont.ttf') format('truetype');
//  font-weight: 200;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.eot');
//  src: url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.ttf') format('truetype'),
//  url('/assets/webfonts/200/extra-light-italic/panton-extralightitalic-webfont.svg#pantonextralight_italic') format('svg');
//  font-weight: 200;
//  font-style: italic;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/300/light/panton-light-webfont.eot');
//  src: url('/assets/webfonts/300/light/panton-light-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/300/light/panton-light-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/300/light/panton-light-webfont.woff') format('woff'),
//  url('/assets/webfonts/300/light/panton-light-webfont.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.eot');
//  src: url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.ttf') format('truetype'),
//  url('/assets/webfonts/300/light-italic/panton-lightitalic-webfont.svg#pantonlight_italic') format('svg');
//  font-weight: 300;
//  font-style: italic;
//  font-display: swap;
//}
@font-face {
  font-family: 'panton';
  src: url('/assets/webfonts/400/regular/panton-regular-webfont.eot');
  src: url('/assets/webfonts/400/regular/panton-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/400/regular/panton-regular-webfont.woff2') format('woff2'),
  url('/assets/webfonts/400/regular/panton-regular-webfont.woff') format('woff'),
  url('/assets/webfonts/400/regular/panton-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'panton';
  src: url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.eot');
  src: url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.woff2') format('woff2'),
  url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.woff') format('woff'),
  url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.ttf') format('truetype'),
  url('/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.svg#pantonregular_italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/500/semi-bold/panton-semibold-webfont.eot');
//  src: url('/assets/webfonts/500/semi-bold/panton-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/500/semi-bold/panton-semibold-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/500/semi-bold/panton-semibold-webfont.woff') format('woff'),
//  url('/assets/webfonts/500/semi-bold/panton-semibold-webfont.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.eot');
//  src: url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.ttf') format('truetype'),
//  url('/assets/webfonts/500/semi-bold-italic/panton-semibolditalic-webfont.svg#pantonsemibold_italic') format('svg');
//  font-weight: 500;
//  font-style: italic;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/600/bold/panton-bold-webfont.eot');
//  src: url('/assets/webfonts/600/bold/panton-bold-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/600/bold/panton-bold-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/600/bold/panton-bold-webfont.woff') format('woff'),
//  url('/assets/webfonts/600/bold/panton-bold-webfont.ttf') format('truetype');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.eot');
//  src: url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.ttf') format('truetype'),
//  url('/assets/webfonts/600/bold-italic/panton-bolditalic-webfont.svg#pantonbold_italic') format('svg');
//  font-weight: 600;
//  font-style: italic;
//  font-display: swap;
//}
@font-face {
  font-family: 'panton';
  src: url('/assets/webfonts/700/extra-bold/panton-extrabold-webfont.eot');
  src: url('/assets/webfonts/700/extra-bold/panton-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/700/extra-bold/panton-extrabold-webfont.woff2') format('woff2'),
  url('/assets/webfonts/700/extra-bold/panton-extrabold-webfont.woff') format('woff'),
  url('/assets/webfonts/700/extra-bold/panton-extrabold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'panton';
  src: url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.eot');
  src: url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.woff2') format('woff2'),
  url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.woff') format('woff'),
  url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.ttf') format('truetype'),
  url('/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.svg#pantonextrabold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/800/black/panton-black-webfont.eot');
//  src: url('/assets/webfonts/800/black/panton-black-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/800/black/panton-black-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/800/black/panton-black-webfont.woff') format('woff'),
//  url('/assets/webfonts/800/black/panton-black-webfont.ttf') format('truetype');
//  font-weight: 800;
//  font-style: normal;
//  font-display: swap;
//}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.eot');
//  src: url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.ttf') format('truetype'),
//  url('/assets/webfonts/800/black-italic/panton-blackitalic-webfont.svg#pantonblack_italic') format('svg');
//  font-weight: 800;
//  font-style: italic;
//  font-display: swap;
//}
@font-face {
  font-family: 'panton';
  src: url('/assets/webfonts/900/heavy/panton-heavy-webfont.eot');
  src: url('/assets/webfonts/900/heavy/panton-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/900/heavy/panton-heavy-webfont.woff2') format('woff2'),
  url('/assets/webfonts/900/heavy/panton-heavy-webfont.woff') format('woff'),
  url('/assets/webfonts/900/heavy/panton-heavy-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
//@font-face {
//  font-family: 'panton';
//  src: url('/assets/webfonts/900/heavy-italic/panton-heavyitalic-webfont.eot');
//  src: url('/assets/webfonts/900/heavy-italic/panton-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/webfonts/900/heavy-italic/panton-heavyitalic-webfont.woff2') format('woff2'),
//  url('/assets/webfonts/900/heavy-italic/panton-heavyitalic-webfont.woff') format('woff'),
//  url('/assets/webfonts/900/heavy-italic/panton-heavyitalic-webfont.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}

$font-size-base: 1rem;

$font-family-sans-serif: 'panton', sans-serif;
$headings-font-family: 'panton', sans-serif;
$font-weight-lighter: 400;
$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$headings-font-weight: 900;

$font-family-brandheader: 'panton', sans-serif;
$font-weight-brandheader: 900;
